<div class="card" style="width: 18rem; margin: 1rem" routerLink="/COPYPASTE">
  <div class="card-body">
    <h5 class="card-title">Copy/Paste</h5>
    <p class="card-text">Remove automatically all + * and numbers from a bible verse.</p>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 1rem" routerLink="/WHATSAPP">
  <div class="card-body">
    <h5 class="card-title">WhatsappStatus</h5>
    <p class="card-text">Create a whatsapp status.</p>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 1rem" routerLink="/TERRITORY">
  <div class="card-body">
    <h5 class="card-title">Draw Territories</h5>
    <p class="card-text">Design territories boundaries.</p>
  </div>
</div>

<div *ngIf="localStorageDB.mapEntries.length > 0">
  <hr>
  <h3>Territories</h3>
  <button class="btn btn-sm btn-primary" style="margin: 0.3rem" *ngFor="let map of localStorageDB.mapEntries" (click)="navigateToTerritory(map.uuid)">{{map.name}} {{map.lastModification | date:'dd-MM-yy'}}</button>
</div>
