<form [formGroup]="whatsappText" class="mb-3">
  <label for="text" class="form-label">Let's write a whatsapp status ...</label>
  <textarea class="form-control" id="text" rows="10" style="width: 95%" (keyup)="actualizeText()"
            formControlName="text"></textarea>
</form>

<div class="whatsappStatus">
    <a *ngFor="let element of whatsappStatus.elements" (click)="elementClick(element)">
      <h1 *ngIf="element.type == 1" style="{{element.getStyle()}}">{{element.text}}</h1>
      <p *ngIf="element.type == 2" style="{{element.getStyle()}}">{{element.text}}</p>
    </a>

  <div *ngIf="selectedElement">
    <input [(colorPicker)]="selectedElement.bgcolor" [style.background]="selectedElement.bgcolor"/>
  </div>
</div>


